<div class ="cardContainerAssign">
	<div class = "cardWrapper">
		<div class = "wrapperAssign">
			<div class = "pull-left">
			   <h3>2016 02 08 - 123</h3>
			</div>
            <div class = "pull-right" style = "margin-right: 34px;">
			   <h3 style = "color:black;">5:30 AM</h3>
			</div>			
		</div>	
		<h4>Bannerghatta Road 560 076</h4>
		<h4>55 packages</h4>
	</div>
	<div class = "middleButton">
    	<button type="button" class="btn btn-info formButton" style = "width: 469px;">Assign</button>
    </div>	
</div>