<div style = "border-bottom:1px solid #9b9b9b">
	<div class  ="Deatils">
		<div class ="detailsBox">
		<div class= "pull-left">
			<p>{{driver.licensePlateNumber}}</p>
		</div>
		<div class = "pull-right" style = "font-family: 'open_sansregular';">
            <p>{{driver.vehicleModelName}}</p>
		</div>
		</div>
	</div>
</div>
<div style = "border-bottom:1px solid #9b9b9b">
	<div class  ="Deatils">
		<div class ="detailsBox">
		<div class= "pull-left">	
			<p>{{driver.licensePlateNumber}}</p>
		</div>
		<div class = "pull-right" style = "font-family: 'open_sansregular';">
            <p>{{driver.vehicleModelName}}</p>
		</div>
		</div>
	</div>
</div>