<div class ="cardContainerAssign">
	<div class = "cardWrapper">
		<div class = "wrapperAssign">
			<div class = "pull-left">
			   <h3>{{jobId}}</h3>
			</div>
            <div class = "pull-right" style = "margin-right: 34px;">
			   <h3 style = "color:black;">{{jobTime}}</h3>
			</div>			
		</div>	
		<h4>{{route}}</h4>
		<h4>{{packages}} packages</h4>
	</div>
	<div class = "middleButton">
    	<button type="button" class="btn btn-info formButton" style = "width: 469px;">Assign</button>
    </div>	
</div>