<div>
<div class ="cardContainer" ng-repeat="job in jobs">
<div  ng-click="clickJob(job)">
	<div class = "pull-left cardWrapper">
		<p class = "jobId" style = "color:#00a89f;">{{job.id}}</p>
		<p class = "routeId" >{{job.area}}</p>
		<p class = "routeId" >{{job.number_of_packages}} packages</p>
	</div>
	<div ng-show="{{job.status == lmMenu.unassigned.type}}" class = "pull-right cardWrapperImage">
		<img class="img-circle img-responsive" src="images/img.jpg" style = "    height: 97px;
        margin-right: 20px;margin-top: 16px;border: 2px solid #394165">
	</div>
</div>
</div>
</div>

