<div class ="cardContainerAssign">
	<div class = "cardWrapper">
		<div class = "wrapperAssign">
			<div class = "pull-left">
			   <p style = "font-weight:bold;">{{jobId}}</p>
			</div>
            <div class = "pull-right" style = "margin-right: 34px;">
			   <p style = "color:black;">{{jobTime}}</p>
			</div>			
		</div>	
		<h4>{{route}}</h4>
		<h4>{{packages}} packages</h4>
	</div>
	<div class = "middleButton">
    	<button type="button" class="btn btn-info formButton" style = "width: 440px; font-weight : bold;">Assign</button>
    </div>	
</div>