<div class ="cardContainerAssign">
	<div class = "cardWrapper" style = "width: 100%;">
		<div class = "wrapperAssign">
			<div class = "pull-left">
			   <p class = "cardA">{{jobId}}</p>
			</div>
            <div class = "pull-right" style = "margin-right: 34px;">
			   <p class = "cardB">{{jobTime}}</p>
			</div>			
		</div>	
		<p class = "cardB">{{area}}</p>
		<p class = "cardB">{{packages}} packages</p>
	</div>
	<div ng-show="{{contract.status == contratTaskType.checkedIn.type}}" class = "middleButton" ng-click="assignJobToContract()">
    	<button type="button" class="btn btn-info formButton" style = "width: 440px; font-weight : bold;">Assign</button>
    </div>	
</div>