	
<div class = "BigRapper" ng-init="initialize()">
  <div class = "wrapper">	
		<div class = "topBar">
			<button class="hamburger"><i class="fa fa-bars"></i>
				 Jobs</button>
		    <button class="cross"><i class="fa fa-bars"></i>
				 Jobs</button>
		</div>
		<div class = "tabsInLine">
			<div ng-click="clickJobType(lmMenu.unassigned.type)" ng-class="{ 'active-job-tab' : menuItem == lmMenu.unassigned.type}" class = "moveLeft">UNASSIGNED</div>
			<div ng-click="clickJobType(lmMenu.assigned.type)" ng-class="{ 'active-job-tab' : menuItem == lmMenu.assigned.type}" class = "moveMid">ASSIGNED</div>
			<div ng-click="clickJobType(lmMenu.completed.type)" ng-class="{ 'active-job-tab' : menuItem == lmMenu.completed.type}" class = "moveRight">COMPLETED</div>
		</div>		 

	<div class="menu">
	  <ul>
		<div ><li class = "liHead">DRIVERS</li></div>
		<div ng-click="menuClicked(daMenu.drivers.items.all)"><li class = 'subHead' ng-class="{ 'active-menu-item' : menuItem == daMenu.drivers.items.all}">All</li></div>
		<div ng-click="menuClicked(daMenu.drivers.items.available)"><li class = 'subHead' ng-class="{ 'active-menu-item' : menuItem == daMenu.drivers.items.available}">Available</li></div>	
		<div ng-click="menuClicked(daMenu.drivers.items.assigned)"><li class = 'subHead' ng-class="{ 'active-menu-item' : menuItem == daMenu.drivers.items.assigned}">Assigned</li></div>
		<div ng-click="menuClicked(daMenu.drivers.items.returning)"><li class = 'subHead' ng-class="{ 'active-menu-item' : menuItem == daMenu.drivers.items.returning}">Returning</li></div>	
	    <div><li class = "liHead">
			JOBS</li></div>
		<div><li ng-click="clickJobType(lmMenu.unassigned.type)" ng-class="{ 'active-menu-item' : menuItem == lmMenu.unassigned.type}" class = 'subHead'>Unassigned</li></div>
		<div><li ng-click="clickJobType(lmMenu.assigned.type)" ng-class="{ 'active-menu-item' : menuItem == lmMenu.assigned.type}" class = 'subHead'>Assigned</li></div>	
		<div><li ng-click="clickJobType(lmMenu.completed.type)" ng-class="{ 'active-menu-item' : menuItem == lmMenu.completed.type}" class = 'subHead'>Completed</li></div>	
		<div class ="bottomNav">
		    <div class = "lineBottom"><li class = "subHead" style = "margin-left: -31px;"><i class="fa fa-cog"></i>
				Settings</li></div>
		    <div><li class = "subHead"><i class="fa fa-times"></i>
				Logout</li></div>
		</div>		
	  </ul>
	</div>


	<div class = "division" style = "height : 730px">

		<div class= "scrollBar" style = "margin-top:0px; width:100%; height : 728px;" id="style-2">
		    
				<div ng-include ="'/views/loadManager/templates/jobCard.html'"/>
		   
		</div> 
	</div>	

  







   <!-- it is button modal right now .. later oue job card will become button -->
	
	<button id="modal" ng-show="false" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

	<!-- Modal -->
	<div id="myModal" class="modal fade" role="dialog">
	  <div class="modal-dialog">

	    <!-- Modal content-->
	    <div class="modal-content" style = "width: 528px;margin: 0 auto;height: 738px;">
	      <div class="modal-header" style ="border-top-left-radius: 4px; border-top-right-radius: 4px;">
	        <button id="closeModal" type="button" class="close" data-dismiss="modal">&times;</button>
	        <p class="modal-title" style = "font-size: 25px;font-family: 'open_sansbold';">Available Drivers</p>
	      </div>
	      <div class="modal-body">
	            
					<div class= "scrollBar" style = "width:100%;margin-top: -13px;" id="style-2">
					    
							<div ng-include ="'/views/loadManager/templates/driversListDataForModal.html'"/>
					   
					</div> 
					
	      </div>   
	    </div>
 
      </div>
    </div>

 <!-- end of modal -->




 </div> 
</div>
	
<script type="text/javascript">
  $( ".cross" ).hide();
$( ".menu" ).hide();
$( ".hamburger" ).click(function() {
$( ".menu" ).slideToggle( "slow", function() {
$( ".hamburger" ).hide();
$( ".cross" ).show();
});
});

$( ".cross" ).click(function() {
$( ".menu" ).slideToggle( "slow", function() {
$( ".cross" ).hide();
$( ".hamburger" ).show();
});
});



</script>
