<div>
        <div class = "container" style = "width:632px;" ng-init="initialize()">
        <div class = "wrapper">	
	        <div ng-include ="'/views/driver/templates/driverHeader.html'"/>
	        <div class = "mapDiv">
	        <img src="images/map.png" style = "height: 773px;" class="img-responsive center-block imageSize">
	        <button type="button" class="btn btn-info ImgButton" style = "background-color: #f9f9f9; border: none; color: #394165;">On My Way</button>
	        </div>
	    </div>     
               		
</div>