<div class = "container" style = "width : 632px" ng-init="initialize()">
 <div class = "wrapper"> 
  <div class ="cardHeader" style ="height:209px; text-align: center;">
    <h1 style = "font-family : 'open sans'">Delivery Manifest</h1>
    <h4>213126565465498454</h4>
    <h2>44/44</h2>
  </div>
  <div>
    <img src="images/map.png" style = "height: 674px;" class="img-responsive center-block imageSize">
  </div>
  <div style ="text-align:center">
    <h3 ng-show="!driver.showMessage" class="serverText">{{driver.message}}<h3>
    <button  ng-click="returnToCenter()" type="button" class="btn btn-info ImgButton">Returning To Center</button>
  </div>
 </div> 
</div>

<!-- ng-show="driver.showReturningButton" -->