<div class = "container">
  <div class ="cardHeader" style = "text-align : center;">
    <h2>Delivery Menifest</h2>
    <h4>213126565465498454</h4>
    <button type="button" class="btn btn-info butt">Scan 44 Packages</button>
  </div>
  <div>
    <img src="images/scan.png" class="img-responsive center-block">
  </div>
</div>


<!-- <div style ="text-align:center">
    <button style = "height: 59px;width: 473px;font-size: 32px;background-color: #00A89F; margin-top: 28px;"type="button" class="btn btn-info">Returning To Center</button>
  </div> -->