<div class = "container" ng-init="initialize()">
  <div class ="cardHeader" style ="height:224px; text-align: center;">
    <h2>Delivery Manifest</h2>
    <h4>213126565465498454</h4>
    <h2>44/44</h2>
    <span ng-click="switchToScan()" style = "float : right; font-size: xx-large;"><i class="fa fa-barcode"></i></span>
  </div>
  <div ng-include ="'/views/driver/templates/map.html'"/>
  <div style ="text-align:center">
    <h3 ng-show="!driver.showMessage" class="serverText">{{driver.message}}<h3>
    <button ng-show="driver.showReturningButton" ng-click="returnToCenter()" type="button" class="btn btn-info ImgButton">Returning To Center</button>
  </div>
</div>