<div class = "BigRapper" ng-init="initialize()">
 <div class = "wrapper"> 
  <div class ="cardHeader" style ="height:209px; text-align: center;">
    <p class = "contentA">Delivery Manifest</p>
    <p class = "contentB">213126565</p>
    <p class = "contentA"  style = "line-height: 100px;">44/44</p>
  </div>
 
  <div class = "mapDiv" style = "height: 675px;">
          <img src="images/map.png" style = "height: 674px;" class="img-responsive center-block imageSize">
          <button type="button" class="btn btn-info ImgButton" style = "background-color:#00a89f; color: white;">Returning To Center</button>
          <!-- <button type="button" class="btn btn-info ImgButton" style = "background-color: #f9f9f9; border: none; color: #394165;">Returning To Center</button>
          </div> -->
  </div>

 </div> 
</div>

<!-- ng-show="driver.showReturningButton" -->