
<div style ="background-color : #394165;">
  <div class="card">
     <div class="card-block">
        <h1 class="card-title" style = "color : white; font-weight:bold; padding : 10px;">Leo Messi</h1>
        <h3 class="card-subtitle text-muted" style = "color : white; font-weight:bold; padding : 10px;">G Trance Logistics Pvt. Ltd.</h3>
      </div>
    <img src="images/leo.jpg" class = "img-responsive" alt="Card image" width = "100%" >
    <!-- <div class="card-block">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div> -->
  </div>
</div>

