<div class = "container" style = "width : 632px;" ng-init="initialize()">
 <div class = "wrapper">
  <div class ="cardHeader" style = "text-align : center; height: 209px;">
    <p class = "contentA" >Delivery Manifest</p>
    <p class = "contentB">213126565</p>
    <div ng-click="startScaningIn()">
    	<button type="button" class="btn btn-info butt">Scan 44 Packages</button>
    </div>
  </div>  
  <div class= "menifestContainer">
    <img src="images/scan.png" class="img-responsive center-block">
  </div>
 </div> 
</div>


<!-- <div style ="text-align:center">
    <button style = "height: 59px;width: 473px;font-size: 32px;background-color: #00A89F; margin-top: 28px;"type="button" class="btn btn-info">Returning To Center</button>
  </div> -->