<div class = "conatiner" style ="background-color : white;">
<div class="card">
  <div class="card-block">
    <h4 class="card-title">Leo Messi</h4>
    <h6 class="card-subtitle text-muted">G Trance Logistics Pvt. Ltd.</h6>
  </div>
  <img src="images/leo.jpg" class = "img-responsive" alt="Card image">
  <!-- <div class="card-block">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div> -->
</div>
</div>