<div class = "container">
  <div class ="cardHeader">
    <h2>{{driver.driverName}}</h2>
    <h4>{{driver.providerName}}</h4>
  </div>
  <div>
    <img src={{driver.vehicleImage}} class="img-responsive center-block">
  </div>
  <div style = "background:grey; height: 48px;">
    <div style = "font-size: 34px;">
       <span style = "margin-left: 24px;">{{driver.licensePlateNumber}}</span>
       <span style = "margin-left: 227px;">{{driver.model}}</span>
    </div> 
  </div>
  <div>
    <img src="images/map.png" width = "100%"> <!-- ... here google Api has to be called  -->
  </div>
</div>