<div>
        <div class = "container" style = "width:632px;" ng-init="initialize()">
	      <div class = "wrapper">  	
	        <div ng-include ="'/views/driver/templates/driverHeader.html'"/>
	        <div ng-include ="'/views/driver/templates/driverImage.html'"/>
	        <div ng-include ="'/views/driver/templates/vehicleDetails.html'"/>
	        <div ng-include ="'/views/driver/templates/map.html'"/>
	        <div ng-include ="'/views/driver/templates/onMyWayButton.html'"/>   
	      </div>  		
</div>

