<div class = "container">
  <div class ="cardHeader">
    <h2>Niketan Dhama </h2>
    <h4>G Trans Logistics Pvt. Ltd.</h4>
  </div>
  <div>
    <img src="images/img.png" class="img-responsive center-block">
  </div>
  <div style = "background:grey; height: 48px;">
    <div style = "font-size: 34px;">
       <span style = "margin-left: 24px;">KA-12545-8785</span>
       <span style = "margin-left: 227px;">Tata Ace</span>
    </div> 
  </div>
  <div>
    <img src="images/map.png" width = "100%"> <!-- ... here google Api has to be called  -->
  </div>
</div>