<div class="container">
	    <driver-card></driver-card>
        <form class="form-signin" style = "margin-top : 10px; padding: 15px;" id ="sign_in">
          <input style = "padding: 25px; font-size:17px; font-weight:bold;" type="text" name ="inputnumber" id="inputnumber" class="form-control" ng-model = "licensePlateNumber" placeholder="Last 4 digits of License Plate Number" required autofocus> 
          <button style = "padding: 5px; font-size:18px; font-weight:bold; margin-top:10px; background-color:#08A19C;" class="btn btn-lg btn-primary btn-block" type="submit" ng-click = "add()">ADD</button>
        </form>

  </div> <!-- /container -->