<div class = "card">
	<div class = "box">
		<p style = "font-size: 27px;font-family:'open_sanssemibold';
        color: black">7102 Melyana Views Suits 669<p>
		<p style  = "font-size :23px;font-family:'open_sansregular';color: black;
        ">package ID: 123456</p>
	</div>	
</div>  	

<div class = "card">
	<div class = "box">
		<p style = "font-size: 27px;font-family:'open_sanssemibold';
        color: black">7102 Melyana Views Suits 669<p>
		<p style  = "font-size :23px;font-family:'open_sansregular';color: black;
        ">package ID: 123456</p>
	</div>	
</div>
<div class = "card">
	<div class = "box">
		<p style = "font-size: 27px;font-family:'open_sanssemibold';
        color: black">7102 Melyana Views Suits 669<p>
		<p style  = "font-size :23px;font-family:'open_sansregular';color: black;
        ">package ID: 123456</p>
	</div>	
</div>
<div class = "card">
	<div class = "box">
		<p style = "font-size: 27px;font-family:'open_sanssemibold';
        color: black">7102 Melyana Views Suits 669<p>
		<p style  = "font-size :23px;font-family:'open_sansregular';color: black;
        ">package ID: 123456</p>
	</div>	
</div>
<div class = "card">
	<div class = "box">
		<p style = "font-size: 27px;font-family:'open_sanssemibold';
        color: black">7102 Melyana Views Suits 669<p>
		<p style  = "font-size :23px;font-family:'open_sansregular';color: black;
        ">package ID: 123456</p>
	</div>	
</div>
<div class = "card">
	<div class = "box">
		<p style = "font-size: 27px;font-family:'open_sanssemibold';
        color: black">7102 Melyana Views Suits 669<p>
		<p style  = "font-size :23px;font-family:'open_sansregular';color: black;
        ">package ID: 123456</p>
	</div>	
</div>
