<div class = "BigRapper">
  <div class = "wrapper">
  <div class ="cardHeader" style ="height:209px; text-align: center;">
    <p class = "contentA">Delivery Manifest</p>
    <p class = "contentB">213126565</p>
    <div class = "textureA">
     <p class = "contentA"  style = "line-height: 100px;">44/44</p>
    </div>
    <div class = "scan">
     <img src="images/scanner_button.png" class = "img-responsive" style = "height:60px;">
    </div>
  </div>

  <div class = "division" style = "height : 675px">
		<div class= "scrollBar" style = "margin-top:0px; width:100%; height : 674px;" id="style-2">
		    
		    <div ng-include ="'/views/driver/manifestCard.html'"/>
				
		   
		</div> 
  </div>	
  
  
  <!-- <div style ="text-align:center">
    <button style = "height: 59px;width: 473px;font-size: 32px;background-color: #00A89F; margin-top: 28px;"type="button" class="btn btn-info">Returning To Center</button>
  </div> -->
 </div>
</div>