<div class = "container" style = "width:632px;" ng-init="initialize()">
 <div class = "wrapper">
  <div class ="cardHeader" style ="height:209px ; text-align: center;">
  	<div class = "arrow">
  		<img src="images/back_button.png" class = "img-responsive" style = "height: 31px;" >
  	</div>
  	<div class = "texture">
        <p class = "contentA">Scan Packages Out</p>
  	</div>
    <p class = "contentB">213126565</p>
    <p class = "contentA" style = "line-height: 100px;">{{count}}/44</p>
  </div>
  <div ng-click="startScaningIn()" class = "menifestContainer">
    <img src="images/scan.png" class="img-responsive center-block">
  </div>
 </div> 
</div>
