	
<div class = "BigRapper" ng-init = "initialize()">
  <div class = "wrapper" >	
	<header>
	  <button class="hamburger"><i class="fa fa-bars"></i>
			 Driver Check-in</button>
	  <button class="cross"><i class="fa fa-bars"></i>
			 Driver Check-in</button>
	</header>

	<div class="menu">
	  <div ng-include ="'/views/deliveryAssociate/templates/deliveryAssociateMenu.html'"/>
	</div>
	<div class = "division">
		<div class= "scrollBar" style  ="margin-top: 0px;height: 773px;" id="style-2">
		    
				<div ng-include ="'/views/deliveryAssociate/templates/intransit.html'"/>
		   
		</div> 
	</div>
  </div>		
</div>   
	
<script type="text/javascript">
$( ".cross" ).hide();
$( ".menu" ).hide();
$( ".hamburger" ).click(function() {
$( ".menu" ).slideToggle( "slow", function() {
$( ".hamburger" ).hide();
$( ".cross" ).show();
// $(".menu").css("margin-left")="0px";
});
});

$( ".cross" ).click(function() {
$( ".menu" ).slideToggle( "slow", function() {
$( ".cross" ).hide();
$( ".hamburger" ).show();
});
});



</script>
