<div class = "container" style = "padding : 0px">
	<div class = "col-xs-12">
		<div class = "burgerBox">
			<img class ="burger" src="images/burger.png">
		    <h3 class = "textBurger">Driver Check In</h3>
		</div>	
    </div>
    <div class = "boxNav hide">
		<ul>
			<li>hello</li>
			<li>hello</li>
			<li>hello</li>
		</ul>
	</div>	
	<div ng-include ="'/views/deliveryAssociate/templates/intransit.html'"/>
</div>
<script>
$( ".burger" ).click(function() {
	$(this).parents().find(".boxNav").toggleClass("hide");
});
</script>
