<div class ="detailsCover">
	<div class = "carDetails" style = "padding : 45px;">
		<button type="button" class="btn btn-success" style = " width: 440px;height: 60px;font-size:25px;background: #00A89F;font-family: 'open_sanssemibold';">Submit Inovice</button>
		<p class = "carDetailsB" style = "font-size: 25px;font-family: 'open_sanssemibold';margin-top: 25px;">Does this invoice seem inaccurate?</p>
		<a href="#" style = "text-decoration: none; color:#00A89F;font-family: 'open_sansregular';font-size: 22px;">Escalate to Manager</a>
	</div>
</div>