<div ng-init = "initialize()">
    <div class = "bigBox" ng-repeat = "contractTask in contractTasks">

    <div ng-if="contractTask.card_type == cardType.blankCard.type">
      <div class = "queueCard" ng-click = "sendToBlankDriverPageWithContract(contractTask)">
        <img src="{{contractTask.driver_image}}" width = "100%" height = "250px";>
        <div style = "height:15px; background-color: #ffffff;"></div>
        <div class = "boxSizing">
          <div>
        	<div class = "queueDetails">
	        	<div class ="pull-left">
	        		<p class = "contract">{{contractTask.driver_name}}</p>
	        	</div>
	        	<div ng-if="contractTask.status == contractTaskType.dispatched.type" class ="pull-right">
	        		<p class ="status">IN TRANSIT</p>
	        	</div>
	        	<div ng-show="contractTask.status == contractTaskType.returning.type" class ="pull-right">
	        		<p class ="status">IN TRANSIT</p>
	        	</div>
	        </div>
	      </div>
	        
	      <div>
	        <div class = "queueDetails">
	        	<div class ="pull-left">
	        		<p class ="status" style = "margin-top: -16px;">{{contractTask.provider_name}}</p>
	        	</div>
	        	<div ng-if="contractTask.status == contractTaskType.dispatched.type || contractTask.status == contractTaskType.dispatched.type" class ="pull-right">
	        		<p class ="status" style = "margin-top: -16px;">{{contractTask.latest_state.time | date: 'hh:mm a'}}</p>
	        	</div>
	        </div>
	      </div>
        </div>  	 		
      </div>
     </div>
     
     <div ng-if="contractTask.card_type == cardType.yellowCard.type">
      <div class = "queueCard" ng-click = "sendToBlankDriverPageWithContract(contractTask)">
        <img src="{{contractTask.driver_image}}" width = "100%" height = "250px";>
        <div style = "height:15px; background-color: #FFFF00;"></div>
        <div class = "boxSizing">
          <div>
        	<div class = "queueDetails">
	        	<div class ="pull-left">
	        		<p class = "contract">{{contractTask.driver_name}}</p>
	        	</div>
	        	<div class ="pull-right">
	        		<p class ="status">ARRIVED</p>
	        	</div>
	        </div>
	      </div>
	        
	      <div>
	        <div class = "queueDetails">
	        	<div class ="pull-left">
	        		<p class ="status" style = "margin-top: -16px;">{{contractTask.provider_name}}</p>
	        	</div>
	        	<div class ="pull-right">
	        		<p class ="status" style = "margin-top: -16px;">{{contractTask.latest_state.time | date: 'hh:mm a'}}</p>
	        	</div>
	        </div>
	      </div>
        </div>  	 		
      </div>
     </div>

    <div ng-if="contractTask.card_type == cardType.orangeCard.type">
      <div class = "queueCard" ng-click = "sendToBlankDriverPageWithContract(contractTask)">
        <img src="{{contractTask.driver_image}}" width = "100%" height = "250px";>
        <div style = "height:15px; background-color: #FFA500;"></div>
        <div class = "boxSizing">
          <div>
        	<div class = "queueDetails">
	        	<div class ="pull-left">
	        		<p class = "contract">{{contractTask.driver_name}}</p>
	        	</div>
	        	<div class ="pull-right">
	        		<p class ="status">ARRIVED</p>
	        	</div>
	        </div>
	      </div>
	        
	      <div>
	        <div class = "queueDetails">
	        	<div class ="pull-left">
	        		<p class ="status" style = "margin-top: -16px;">{{contractTask.provider_name}}</p>
	        	</div>
	        	<div class ="pull-right">
	        		<p class ="status" style = "margin-top: -16px;">{{contractTask.latest_state.time | date: 'hh:mm a'}}</p>
	        	</div>
	        </div>
	      </div>
        </div>  	 		
      </div>
     </div>
<!-- {{ 'shortTime' | contractTask.latest_state.time : 'hh:mm a' : '+0530'}} -->
    <div ng-if="contractTask.card_type == cardType.greenCard.type">
      <div class = "queueCard" ng-click = "sendToBlankDriverPageWithContract(contractTask)">
        <img src="{{contractTask.driver_image}}" width = "100%" height = "250px";>
        <div style = "height:15px; background-color: #72C143;"></div>
        <div class = "boxSizing">
          <div>
        	<div class = "queueDetails">
	        	<div class ="pull-left">
	        		<p class = "contract">{{contractTask.driver_name}}</p>
	        	</div>
	        	<div class ="pull-right">
	        		<p class ="status">{{contractTask.latest_state.odometer}}</p>
	        	</div>
	        </div>
	      </div>
	        
	      <div>
	        <div class = "queueDetails">
	        	<div class ="pull-left">
	        		<p class ="status" style = "margin-top: -16px;">{{contractTask.provider_name}}</p>
	        	</div>
	        	<div class ="pull-right">
	        		<p class ="status" style = "margin-top: -16px;">{{contractTask.latest_state.time | date: 'hh:mm a'}}</p>
	        	</div>
	        </div>
	      </div>
        </div>  	 		
      </div>
     </div>
<!-- {{ 'shortTime' | contractTask.latest_state.time : 'hh:mm a' : '+0530'}} -->
    <div ng-if="contractTask.card_type == cardType.blueCard.type">
      <div class = "queueCard" ng-click = "sendToBlankDriverPageWithContract(contractTask)">
        <img src="{{contractTask.driver_image}}" width = "100%" height = "250px";>
        <div style = "height:15px; background-color: #7EC0EE;"></div>
        <div class = "boxSizing">
          <div>
        	<div class = "queueDetails">
	        	<div class ="pull-left">
	        		<p class = "contract">{{contractTask.driver_name}}</p>
	        	</div>
	        	<div class ="pull-right">
	        		<p class ="status">{{contractTask.jobid}}</p>
	        	</div>
	        </div>
	      </div>
	        
	      <div>
	        <div class = "queueDetails">
	        	<div class ="pull-left">
	        		<p class ="status" style = "margin-top: -16px;">{{contractTask.provider_name}}</p>
	        	</div>
	        	<div class ="pull-right">
	        		<p class ="status" style = "margin-top: -16px;">{{contractTask.latest_state.time | date: 'hh:mm a'}}</p>
	        	</div>
	        </div>
	      </div>
        </div>  	 		
      </div>
     </div>
     
    </div>
</div>      

    
        
        <!-- <div ng-include ="'/views/driver/templates/vehicleDetails.html'"/> -->       

  <!--   </div>	        	
</div> -->