<div ng-init = "initialize()">
    <div class = "bigBox" ng-repeat = "contract in contracts">
     <div>
      <div class = "queueCard" ng-click = "sendToBlankDriverPageWithContract(contract)">
        <img src="images/img.jpg" width = "100%" height = "250px";>
        <div style = "height:15px; background-color: #72C143;"></div>
        <div class = "boxSizing">
          <div>
        	<div class = "queueDetails">
	        	<div class ="pull-left">
	        		<p class = "contract">{{contract.driver_name}}</p>
	        	</div>
	        	<div class ="pull-right">
	        		<p class ="status">{{contract.status}}</p>
	        	</div>
	        </div>
	      </div>
	        
	      <div>
	        <div class = "queueDetails">
	        	<div class ="pull-left">
	        		<p class ="status" style = "margin-top: -16px;">{{contract.provider_name}}</p>
	        	</div>
	        	<div class ="pull-right">
	        		<p class ="status" style = "margin-top: -16px;">{{contract.states[1].time}}</p>
	        	</div>
	        </div>
	      </div>
        </div>  	 		
      </div>
     </div>
    </div>
</div>      

    
        
        <!-- <div ng-include ="'/views/driver/templates/vehicleDetails.html'"/> -->       

  <!--   </div>	        	
</div> -->