<div>
<div class ="cardContainer">
	<div class = "pull-left cardWrapper">
		<p class = "statusDetails">Pending Approval</p>
		<p class = "jobId" style = "color:#00a89f;">2016 02 08 136{{job.jobId}}</p>
		<p class = "routeId" style = "margin-top: -9px;
         }">Basaveshwaranagar 560 079{{job.route}}</p>
		<p class = "routeId" style = "margin-top: -9px;
         }" >70{{job.packages}} packages</p>
	</div>
	<div class = "pull-right cardWrapperImage">
		<p class = "rupeesDetails"><i class="fa fa-inr"></i> 1688.50</p>
	</div>
</div>
</div>