
  <div class="container"    style = " margin-top: 169px;" >

        <form class="form-signin" style = "margin-top : 25px" id ="sign_in">

          <input style = "padding: 25px; font-size:17px; font-weight:bold; " type="text" name = "inputnumber" id="inputnumber" class="form-control" ng-model = "mobileNumber" ng-pattern="onlyNumbers"  placeholder="Mobile Number" required autofocus>

          <input style = "padding: 25px; font-size:17px; font-weight:bold; margin-top:15px;" type="text" name ="inputnumber" id="inputnumber" class="form-control" ng-model = "aadharNumber" placeholder="Last 4 digits of AADHAR" required autofocus>

          <p style = "padding: 10px; font-size:18px; font-weight:bold; margin-top:15px; color:#08A19C;">Sign In with your username, email or mobile number.</p>

          <button style = "padding: 5px; font-size:18px; font-weight:bold; margin-top:60px; background-color:#08A19C;" class="btn btn-lg btn-primary btn-block" type="submit" ng-click = "submit()">Sign in</button>
        </form>

  </div> <!-- /container -->
