

<div width : "100px;" height : "100%">
	    <driver-full-card></driver-full-card>
        <form class="form-signin" style = "margin-top : 5px; padding: 15px;" id ="sign_in">
          <input style = "padding: 25px; font-size:17px; font-weight:bold;" type="text" name ="inputnumber" id="inputnumber" class="form-control" ng-model = "licensePlateNumber" placeholder="Last 4 digits of License Plate Number  IF PROFILE OF THE DRVIER IS NOT DISPLAYED"> 
          <h4 style = "color:#08A19C">Please provide the Odometer reading</h4>
          <input style = "padding: 25px; font-size:17px; font-weight:bold; " type="text" name ="inputnumber" id="inputnumber" class="form-control" ng-model = "odometer" placeholder="Odometer" required autofocus> 
          <button style = "padding: 5px; font-size:18px; font-weight:bold; margin-top:10px; background-color:#08A19C;" class="btn btn-lg btn-primary btn-block" type="submit" ng-click = "add()">Check In</button>
        </form>

  </div> <!-- /container -->