<div class = "conatainer">
  <div>
    <img src="images/img.png" class="img-responsive center-block">
  </div>
  <div style = "background-color : green; height:15px">
  </div>
  <div style = "background:grey; height: 78px;">
    <div style = "font-size: 24px;">
      <div>
       <span style = "margin-left: 24px;">Aarav Banerjee</span>
       <span style = "margin-left: 338px;">45801</span>
      </div> 
      <div>
       <span style = "margin-left: 24px;">G Trans Logistics Pvt. Ltd</span>
       <span style = "margin-left: 227px;">5:30 Am</span>
      </div>
    </div> 
  </div>
</div>